<%= form_with(model: @child, url: parent_children_path(@parent), local: true) do |f| %>
  <%= render 'shared/error_messages', object: @child %>

  <%= f.label :child_name, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :child_name, class: "form-control" %>

  <%= f.label :age, class: "label-#{yield(:class_text)}" %>
  <%= f.email_field :age, class: "form-control" %>

  <%= f.label :birthday, class: "label-#{yield(:class_text)}" %><br>
  <%= f.date_select(
      :birthday,
      start_year: 2010,
      end_year: (Time.now.year),
      default: Date.new(2020, 1, 1),
      date_separator: '/') %><br>
      <!-- #date_fieldでカッコよくできる -->

  <%= f.radio_button :gender, :man %>
  <%= f.label :gender, "男", {value: :man, style: "display: inline-block;"} %>
  <%= f.radio_button :gender, :woman %>
  <%= f.label :gender, "女", {value: :woman, style: "display: inline-block;"} %><br>

  <%= f.label :class_name, class: "label-#{yield(:class_text)}" %>
  <% if @classrooms.count > 1 %>
    <%= f.collection_select :classroom_id, @classrooms, :id, :class_name, class: "form-control" %>
  <% else %>
    <%= @classrooms[0][:class_name] %>
  <% end %>


  <div class="center">
    <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
    <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
      キャンセル
    </button>
  </div>
<% end %>