<% provide(:class_text, 'new-child') %>
<% provide(:button_text, '登録') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">園児情報追加</h1>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <%= form_with(model: @child, url: parent_children_path(@parent), local: true) do |f| %>
            <%= render 'shared/error_messages', object: @child %>
          
            <%= f.label :child_name, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :child_name, class: "form-control" %>
          
            <%= f.label :age, class: "label-#{yield(:class_text)}" %>
            <%= f.number_field :age, class: "form-control", min: 0, max: 5 %>
          
            <%= f.label :birthday, class: "label-#{yield(:class_text)}" %><br>
            <%= f.date_select :birthday,
                {start_year: 2010,
                end_year: (Time.now.year),
                default: Date.new(2020, 1, 1),
                use_month_numbers: true,
                date_separator: '/'} %><br>
                <!-- #date_fieldでカッコよくできる -->
          
            <%= f.radio_button :gender, :man %>
            <%= f.label :gender, "男", {value: :man, style: "display: inline-block;"} %>
            <%= f.radio_button :gender, :woman %>
            <%= f.label :gender, "女", {value: :woman, style: "display: inline-block;"} %><br>
          
            <%= f.label :class_name, class: "label-#{yield(:class_text)}" %>
            <%= f.collection_select :classroom_id, @classrooms, :id, :class_name, class: "form-control" %>

            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
              <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
                キャンセル
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>