<% provide(:class_text, 'new-child') %>
<% provide(:button_text, '登録') %>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
</head>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">園児情報追加</h1>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <%= form_with(model: @child, url: parent_children_path(@parent), local: true, id: "changeAge") do |f| %>
            <%= render 'shared/error_messages', object: @child %>
          
            <%= f.label :child_name, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :child_name, class: "form-control" %>
          
            <%= f.label :birthday, class: "label-#{yield(:class_text)}" %><br>
            <%= f.text_field :birthday, {class: "form-control dp", id: "birthdayYMD"} %>
            
            <!-- %= raw sprintf(f.date_field( :birthday,
                start_year: 2010,
                end_year: (Time.now.year),
                default: Date.new(2020, 1, 1),
                use_month_numbers: true,
                date_separator: '%s'),'年','月') %><br>
                <!-- #date_fieldでカッコよくできる -->

            <%= f.label :age, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :age, {class: "form-control", id: "nowAge"} %>
          
            <%= f.radio_button :gender, :man %>
            <%= f.label :gender, "男", {value: :man, style: "display: inline-block;"} %>
            <%= f.radio_button :gender, :woman %>
            <%= f.label :gender, "女", {value: :woman, style: "display: inline-block;"} %><br>
          
            <%= f.label :class_name, class: "label-#{yield(:class_text)}" %>
            <%= f.collection_select :classroom_id, @classrooms, :id, :class_name, class: "form-control" %>

            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
              <button type="button" class="btn btn-light btn-<%= yield(:class_text) %>" data-dismiss="modal">
                キャンセル
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $(".dp").datepicker( {
      changeYear: true,  // 年選択をプルダウン化
      changeMonth: true,  // 月選択をプルダウン化
      yearRange: "-5:" // 現在日付の5年前～5年後まで選択可能
    } );
  });
</script>

<script>
  $(function(){
    $('#birthdayYMD').change(function() {
      birthday_ymd = $('#birthdayYMD').val();
      retBirth = birthday_ymd.split("/");
      y = parseInt(retBirth[0], 10);
      m = parseInt(retBirth[1], 10);
      d = parseInt(retBirth[2], 10);

      myNow = new Date();    // 現在
      myBirth = new Date( 1970, 0, d );    // 基準日
      myBirth.setTime( myNow.getTime() - myBirth.getTime() );    // getTimeは1970年からの経過ミリ秒数を取得するメソッド

      // 求めた年月日から基準日を引く
      myYear  = myBirth.getUTCFullYear() - y;
      myMonth = myBirth.getUTCMonth() - ( m - 1 );

      // 月がマイナスなので年から繰り下げ
      if( myMonth < 0 ){
          myYear --;
          myMonth += 12;
      }

      // myDate = myBirth.getUTCDate();

      $('#nowAge').val( myYear+"才 "+myMonth+"ヶ月 " );
    });
  });
</script>