<% provide(:title, @child.child_name) %>
<h1><%= @child.child_name %>の連絡帳</h1>

<!--園児詳細テーブル-->
<div>
  <%= form_with(model: @attendance, url: parent_child_attendance_path(@parent, @child, @attendance), local: true, method: :patch) do |f| %>
    <%= f.hidden_field :worked_on, :value => @day %>
    <table class="table table-bordered table-striped table-condensed" id="show-children">
      <tr>
        <th colspan="6">
          <%= link_to " 本日 ", parent_child_path(@parent, @child, date: Date.today), class: "btn btn-primary" %>
          <%= link_to "< 前日", parent_child_path(@parent, @child, date: @day.yesterday), class: "btn btn-info-small" %>
          <b><%= l(@day, format: :long)%></b>
          <%= link_to "翌日 >", parent_child_path(@parent, @child, date: @day.tomorrow), class: "btn btn-info-small" %>
        </th>
      </tr>
      <tr>
        <th colspan="6", class="first">登園予定情報</th>
      </tr>
      <tr>
        <td colspan="6"><%= f.select :status_attendance, [['登園予定', 1], ['欠席', 2]], {include_blank: "選択してください"}, id: "changeSelect" %></td>
      </tr>

    </table>

    <div class="center">
      <%= f.submit "提出する", class: "btn btn-lg btn-primary" %>
      <%= link_to "キャンセル", '#', class: "btn btn-lg btn-light" %>
    </div>
  <% end %>
</div>

<script>
  $(function() {
    $('#changeSelect').change(function() {
      let val = $(this).val();
      if(val == 1) {
        $("#show-children").html("<%= escape_javascript(render 'children/attend') %>");
      }else {
        $("#show-children").html("<%= escape_javascript(render 'children/absence') %>");
      }
    });
  });
</script>