<% provide(:title, @child.child_name) %>
<h1><%= @child.child_name %>の連絡帳</h1>

<!--園児詳細テーブル-->
<div>
  <%= form_with(model: @attendance, url: '#', method: :patch, id: "show-children") do |f| %>
    <table class="table table-bordered table-striped table-condensed">
      <tr>
        <th colspan="6">
          <%= l(Date.current, format: :long)%>
        </th>
      </tr>
      <tr>
        <th colspan="6", class="first">登園予定情報</th>
      </tr>
      <tr>
        <td colspan="6">登園予定</td>
      </tr>

      <!-- 欠席以外の場合のshow画面 -->
      <tr>
        <th>登園予定時間</th>
          <td><%= l(@attendance.attendance_time, format: :time) %></td>
        <th>お迎え予定時間</th>
          <td><%= l(@attendance.pick_up_time, format: :time) %></td>
        <th>お迎えの方</th>
          <td><%= @attendance.pick_up_person %></td>
      </tr>
      <tr>
        <th>ご機嫌</th>
          <td><%= @attendance.feeling %></td>
        <th>体温</th>
          <td colspan="3"></td>
      </tr>
      <tr>
        <th colspan="6", class="first">食事</th>
      </tr>
      <tr>
        <th>夕食時間</th>
          <td colspan="3"><%= l(@attendance.dinner_time, format: :time) %></td>
        <th>夕食量</th>
          <td colspan="3"><%= @attendance.amount_dinner %></td>
      </tr>
      <tr>
        <th>朝食時間</th>
          <td colspan="3"><%= l(@attendance.morning_time, format: :time) %></td>
        <th>朝食量</th>
          <td colspan="3"><%= @attendance.amount_morning %></td>
      </tr>
      <tr>
        <th>おやつ①</th>
          <td colspan="3"><%= f.time_select :first_snack, :default => {:hour => '9', :minute => '30'}, :minute_step => 15, class: "form_control" %></td>
        <th>食べた量</th>
          <td colspan="3"><%= f.select :amount_1_snack, ['普', '少', '多'], {include_blank: false}, class: "form-control" %></td>
      </tr>
      <tr>
        <th>昼食時間</th>
          <td colspan="3"><%= f.time_select :lunch_time, :default => {:hour => '11', :minute => '30'}, :minute_step => 15, class: "form_control" %></td>
        <th>昼食量</th>
          <td colspan="3"><%= f.select :amount_lunch, ['普', '少', '多'], {include_blank: false}, class: "form-control" %></td>
      </tr>
      <tr>
        <th>おやつ②</th>
          <td colspan="3"><%= f.time_select :second_snack, :default => {:hour => '15', :minute => '30'}, :minute_step => 15, class: "form_control" %></td>
        <th>食べた量</th>
          <td colspan="3"><%= f.select :amount_2_snack, ['普', '少', '多'], {include_blank: false}, class: "form-control" %></td>
      </tr>
      <tr>
        <th>排便</th>
          <td colspan="3">
            <%= l(@attendance.toilet_time, format: :time) %>
            <p style="color:red; font-size:80%">※無の場合は00表示
          </td>
        <th>便の状況</th>
          <td colspan="3"><%= @attendance.toilet_status %></td>
      </tr>
      <tr>
        <th colspan="6", class="first">睡眠</th>
      </tr>
      <tr>
        <th>就寝時間</th>
          <td colspan="3">
            <%= l(@attendance.start_night_sleep, format: :time) %> 〜
            <%= l(@attendance.end_night_sleep, format: :time) %>
          </td>
        <th>お昼寝時間</th>
          <td colspan="3">
            <%= f.time_select :start_afternoon_sleep, :default => {:hour => '12', :minute => '30'}, :minute_step => 15, class: "form_control" %> 〜
            <%= f.time_select :end_afternoon_sleep, :default => {:hour => '13', :minute => '30'}, :minute_step => 15, class: "form_control" %>
          </td>
      </tr>
      <tr>
        <th colspan="6", class="first">園児の様子</th>
      </tr>
      <tr>
        <th>家庭での様子</th>
          <td colspan="5" class="entered_form"><%= @attendance.status_at_home %></td>
      </tr>
      <tr>
        <th>園での様子</th>
          <td colspan="5"><%= f.text_area :status_at_school, class: "form_control" %></td>
      </tr>
      <tr>
        <th colspan="6", class="first">連絡事項</th>
      </tr>
      <tr>
        <th>家庭からの連絡事項</th>
          <td colspan="5" class="entered_form"><%= @attendance.info_from_home %></td>
      </tr>
      <tr>
        <th>園からの連絡事項</th>
          <td colspan="5"><%= f.text_area :info_from_school, class: "form_control" %></td>
      </tr>
    </table>

    <div class="center">
      <%= f.submit "返信する", class: "btn btn-lg btn-primary" %>
      <%= link_to "キャンセル", '#', class: "btn btn-lg btn-light" %>
    </div>
  <% end %>
</div>