<% provide(:title, 'All Teachers') %>
<% if params[:search].present?%>
  <h1>検索結果</h1>
<% elsif params[:search].blank? %>
  <h1>保育者一覧</h1>
<% end %>

<div class="col-md-4 offset-md-8">
  <%= form_tag(teachers_path, :method => 'get') do %>
    <%= text_field_tag :search %>
    <%= submit_tag '項目検索' %>
  <% end %>
</div>

<div class="col-md-10 offset-md-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= Teacher.human_attribute_name :name %></th>
        <th><%= Teacher.human_attribute_name :staff_id %></th>
        <th><%= Classroom.human_attribute_name :class_name %></th>
      </tr>
    </thead>

    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= link_to teacher.name, teacher %></td>
        <td><%= teacher.staff_id %></td>
          <% classroom = Classroom.find(teacher.classroom_id) %>
        <td><%= classroom.class_name %></td>
        <td>
          <%= link_to "編集", edit_manag_info_teacher_path(teacher, classroom_id: teacher.classroom_id), remote: true, class: "btn btn-success" %>
          <%= link_to "削除", teacher, method: :delete,
          data: { confirm: "削除してよろしいですか？" },
          class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>


<!--モーダルウインドウ表示-->
<div id="edit-manag-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>