<% provide(:title, 'All Parents') %>
<% if params[:search].present?%>
  <h1>検索結果</h1>
<% elsif params[:search].blank? %>
  <h1>保護者一覧</h1>
<% end %>

<div class="col-md-4 offset-md-8">
  <%= form_tag(parents_path, :method => 'get') do %>
    <%= text_field_tag :search %>
    <%= submit_tag '項目検索' %>
  <% end %>
</div>

<div class="col-md-10 offset-md-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= Parent.human_attribute_name :name %></th>
        <th><%= Parent.human_attribute_name :relationship %></th>
        <th><%= Parent.human_attribute_name :child_name %></th>
        <th><%= Parent.human_attribute_name :child_class %></th>
        <th><%= Parent.human_attribute_name :class_teacher %></th>
      </tr>
    </thead>

    <% @parents.each do |parent| %>
      <tr>
        <td><%= link_to parent.name, parent %></td>
        <td><%= parent.relationship %></td>
        <td><%= parent.child_name %></td>
        <td><%= parent.child_class %></td>
        <td><%= parent.class_teacher %></td>
        <td>
          <%= link_to "編集", edit_manag_info_parent_path(parent), remote: true, class: "btn btn-success" %>
          <%= link_to "削除", parent, method: :delete,
          data: { confirm: "削除してよろしいですか？" },
          class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>


<!--モーダルウインドウ表示-->
<div id="edit-manag-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>