<% provide(:title, 'All Parents') %>
<% if params[:search].present?%>
  <h1>検索結果</h1>
<% elsif params[:search].blank? %>
  <h1>保護者一覧</h1>
<% end %>

<div class="col-md-4 offset-md-8">
  <p>ユーザー名検索</p>
  <%= form_tag(parents_path, :method => 'get') do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索', :name => nil %>
  <% end %>
</div>

<div class="col-md-10 offset-md-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= Parent.human_attribute_name :name %></th>
      </tr>
    </thead>

    <% @parents.each do |parent| %>
      <tr>
        <td><%= link_to parent.name, parent %></td>
        <td>
          <%= link_to "削除", parent, method: :delete,
          data: { confirm: "削除してよろしいですか？" },
          class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>