<% provide(:title, 'All Parents') %>
<% if params[:search].present?%>
  <h1>検索結果</h1>
<% elsif params[:search].blank? %>
  <h1>保護者一覧</h1>
<% end %>

<div class="col-md-4 offset-md-8">
  <%= form_tag(parents_path, :method => 'get') do %>
    <%= text_field_tag :search %>
    <%= submit_tag '保護者名検索' %>
  <% end %>
</div>

<div class="col-md-10 offset-md-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= Parent.human_attribute_name :name %></th>
        <th><%= Parent.human_attribute_name :relationship %></th>
        <th><%= Child.human_attribute_name :child_name %></th>
        <th><%= Classroom.human_attribute_name :class_name %></th>
        <th></th>
      </tr>
    </thead>

    <% @parents.each do |parent| %>
      <% children = Child.where(parent_id: parent.id) %>
      <% if children.blank? %>
      <tr>
        <td><%= parent.name %></td>
        <td><%= parent.relationship %></td>
        <td></td>
        <td></td>
        <td>
          <!-- %= link_to "編集", edit_manag_info_parent_path(parent), remote: true, class: "btn btn-success" % -->
          <%= link_to "削除", parent, method: :delete,
          data: { confirm: "削除してよろしいですか？" },
          class: "btn btn-danger" %>
        </td>
      </tr>
      <% else %>
        <% saved_parent_name = nil %>
        <% children.each do |child| %>
          <tr>
            <% if parent.name == saved_parent_name %>
              <td></td>
              <td></td>
            <% else %>
              <td><%= parent.name %></td>
              <td><%= parent.relationship %></td>
            <% end %>

            <td><%= child.child_name %></td>
              <% classroom = Classroom.find(child.classroom_id) %>
            <td><%= classroom.class_name %></td>
            
            <% if parent.name == saved_parent_name %>
              <td></td>
            <% else %>
              <% saved_parent_name = parent.name %>
              <td>
                <!-- %= link_to "編集", edit_manag_info_parent_path(parent), remote: true, class: "btn btn-success" % -->
                <%= link_to "削除", parent, method: :delete,
                data: { confirm: "削除してよろしいですか？" },
                class: "btn btn-danger" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
  <%= will_paginate %>
</div>


<!--モーダルウインドウ表示-->
<div id="edit-manag-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>