<% provide(:title, @parent.name) %>
<h1>園児情報</h1>

<!--園児登録ボタン-->
<div class="btn-parents-show">
  <%= link_to "園児追加", new_parent_child_path(@parent), remote: true, class: "btn btn-primary" %>
</div>

<!--子供情報テーブル-->
<div>
  <table class="table table-bordered table-striped table-condensed" id="table-children">
    <tr>
      <th>登園予定登録</th>
      <th>名前</th>
      <th>年齢</th>
      <th>誕生日</th>
      <th>性別</th>
      <th>クラス</th>
      <th></th>
    </tr>

    <% @children.each do |c| %>
      <tr>
        <td><%= link_to "登園予定登録", '#', remote: true, class: "btn btn-primary" %></td>
        <td><%= c.child_name %></td>
        <td><%= c.age %></td>
        <td><%= c.birthday %></td>
        <td><%= c.gender %></td>
        <td><%= Classroom.find(c.classroom_id).class_name %></td>
        <td>
          <%= link_to "編集", edit_parent_child_path(@parent, @child), remote: true, class: "btn btn-success" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div id="new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>